data_pipeline_ai-main/
**/node_modules/
**/.expo/
**/android/build/
**/android/.gradle/
**/android/app/build/
**/ios/Pods/
**/ios/build/
**/build/
**/.gradle/
**/out/
**/*.iml
**/.idea/
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/
**/.env
**/application-secret.yml
*.log
.DS_Store
Thumbs.db
